$site-width: 1296px;

// Color
$light-yellow: #fcc514;
$light-gray: #ebedf2;

$risk-color: #FD7E14;
$saving-color: rgba(52,189,137,1.0);
$efficiency-color: #108CED;

$spend-login-yellow: #FBA800;

$header-bg: white;

$card-border-color: #E9EAEA;


// Measurement Size
$unit-xxs: 0.25rem; // 4px
$unit-xs: 0.5rem;   // 8px
$unit-sm: 1rem;     // 16px
$unit-md: 1.25rem;  // 20px
$unit-lg: 2.25rem;  // 36px
$unit-xl: 3rem;     // 48px